# Ignore Python virtual environments
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore documents
*.txt
*.rtf
*.doc
*.docx
*.odt

# Ignore image files
*jpg
*.png
*.gif
*.jpeg

# Ignore system files (often hidden files)
Thumbs.db   # Windows

# Ignore temporary files or backup files
*~
*.tmp

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore an entire folder
text_documents/
unseen_images/
references/
dataset/
config.ini